html, body {
    height: 100%;
    margin: 0 7% 0 7%;
    /*width: 80;*/
    background-color: black;
    font-family: Arial, Times, sans-serif;
    
    
    
}

header {
    display: flex;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    background-image: url("images/teemu-paananen-OOE4xAnBhKo-unsplash.jpg");
}



.left-side {
    position: relative;
    width: 43%;
}

.credit {
    position: absolute;
    bottom: 2px;
    font-size: medium;
    color: white;
    width: 50%;
    margin-left: 25%;
    text-align-last: center;
    justify-self: center;
}

.odin {
    margin-top: 40%;
    color: white;
    font-size: 70px;
    height: 150px;
    width: 100%;
    background-color: black;
    background: rgba(19, 18, 18, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.odin p {
    font-size: 100px;
    opacity: 100%;
    font-family: 'Norse', sans-serif;
    font-weight: bold;           
}

img {
    max-width: 100%;
    max-height: 100%;
}



.right-side {
    background-color: 	#f4f4f4;
    max-width: 62%;
}

.right-up {
    height: 31%;
    padding-left: 5%;
    font-weight: bold;
    font-size: 25px;
    align-items: center;
}

.right-up p {
    width: 80%;
}



.right-mid {
    height: 33%;
    background-color: white;
}

.right-mid p {
    padding-left: 5%;
    font-weight: bold;
    font-size: 25px;
    align-items: center;
    padding-top: 3%;
}

.forms {
    display: grid;
    padding-left: 5%;
}

input, label {
    display:block;
}

form div {
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
}


input {
  height: 25px;
  width: 250px;
  margin-right: 10px;
}



.right-down {
    height: 31%;
    background-color: 	#f4f4f4;
}

button {
    width: 220px;
    height: 50px;
    border-radius: 10px;
    background-color: #596D48;
    color: white;
    font-size: medium;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 5%;
}

.right-down p {
    font-size: 18px;
    margin-left: 5%;

}